* {
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

#root {
  padding-top: 80px;
  text-align: center;
  margin: 40px 0;
}

#info {
  color: green;
}

#warning {
  color: red;
}

#info,
#warning {
  margin-bottom: 18px;
}
