.player-list-container > ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 40px;
}

.player-list-container > h2 {
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 40px;
}
