.player {
  padding: 24px 32px;
  background-color: #e0efd2;
  min-width: 380px;
  min-height: 240px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 6px;
  border-radius: 4px;
}

.player > h2 {
  font-weight: 400;
  padding-bottom: 4px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.player-info {
  text-align: left;
  line-height: 24px;
}

.player-info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

span.player-info-item {
  font-weight: 600;
  line-height: 26px;
}

span.player-info-item > span {
  font-weight: 400;
}

.delete-player-button {
  background-color: rgb(254, 254, 254);
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000000;
  margin-top: 12px;
}

.delete-player-button:hover {
  background-color: rgba(255, 41, 41, 1);
}

.delete-player-button:active {
  background-color: rgba(255, 41, 41, 0.5);
}

.player .edit-input {
  max-width: 80px;
}
