.team-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #c6ebbe;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.team-list-container > h1 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.team-list-container > h2 {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.team-list-container > ul {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}
