.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #d6eac3;
  width: 38%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.team-container > h2 {
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.team-container > img {
  height: 100px;
  width: 100px;
}

.team-info {
  text-align: left;
  line-height: 28px;
}

.team-info-item > span {
  font-weight: 600;
}

.back-to-all-teams {
  color: #000;
  cursor: pointer;
}

.add-player-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #b9cbca;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  margin-top: 32px;
}

.add-player-button:hover {
  background-color: #82a3a1;
}

.add-player-button:active {
  background-color: #66817e;
}

.team-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  margin-left: 12px;
  background-color: #b9cbca;
  font-size: 14px;
  margin-right: 8px;
}

.edit-button:hover {
  background-color: #82a3a1;
}

.edit-button:active {
  background-color: #66817e;
}

.statistics {
  display: flex;
  flex-direction: column;
}

.edit-input {
  max-width: 130px;
  cursor: text;
}

.edit-input:focus {
  outline: none;
}

.edit-input,
.save-button,
.cancel-button {
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 14px;
}

.save-button,
.cancel-button {
  cursor: pointer;
  margin-left: 4px;
  background-color: #f1f7f7;
  transition: background-color 0.3s;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #a8ba96;
}

.save-button:active,
.cancel-button:active {
  background-color: #a8ba9673;
}

.statistics-edit-input {
  max-width: 40px;
}
